<a href="https://colab.research.google.com/github/SeoJiWon1/ML-DL/blob/main/Git%EC%97%90%EC%84%9C_csv%EA%B0%80%EC%A0%B8%EC%98%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/prajnasb/observations/master/experiements/dest_folder/test.csv")

In [3]:
df

              filename         class
0      1-with-mask.jpg     with_mask
1    106-with-mask.jpg     with_mask
2     11-with-mask.jpg     with_mask
3    110-with-mask.jpg     with_mask
4    111-with-mask.jpg     with_mask
..                 ...           ...
189             74.jpg  without_mask
190             79.jpg  without_mask
191             89.jpg  without_mask
192             93.jpg  without_mask
193             99.jpg  without_mask

[194 rows x 2 columns]

In [5]:
df.to_csv('mask.csv')